---
import Layout from "../layouts/Layout.astro";
import HeroSection from "@/components/sections/HeroSection.astro";
import AboutSection from "@/components/sections/AboutSection.astro";
import BenefitsSection from "@/components/sections/BenefitsSection.astro";
import ServicesSection from "@/components/sections/ServicesSection.astro";
import PricingSection from "@/components/sections/PricingSection.astro";
import siteData from "@/data/siteData.json";
---

<Layout title={siteData.title} description={siteData.description}>
	<main>
		<HeroSection />
		<AboutSection />
		<BenefitsSection />
		<ServicesSection />
		<PricingSection />
	</main>
</Layout>
