---
import { Button } from "@/components/ui/button";
import Link from "./ui/link";
const menuitems = [
    { href: "/servicios", label: "Servicios" },
    { href: "/proyectos", label: "Proyectos" },
    { href: "/nosotros", label: "Nosotros" },
    {
        href: "/contacto",
        label: "Contacto",
    },
];
---

<header class="fixed z-50 top-0 right-0 left-0">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div
            class="mt-4 rounded-xl border backdrop-blur supports-[backdrop-filter]:bg-white/5 border-black/10 bg-black/5"
        >
            <div class="flex items-center justify-between px-4 py-3">
                <!-- Brand -->
                <p class="font-medium text-black font-nunito">ChangCompany</p>
                <!-- <a
                    href="#"
                    class="inline-flex items-center justify-center bg-center mix-blend-multiply w-[140px] h-[40px] bg-[url(https://hoirqrkdgbmvpwutwuwj-all.supabase.co/storage/v1/object/public/assets/assets/1b425c19-b754-4a17-9331-a8161895332d_800w.png)] bg-cover rounded invert"
                ></a> -->

                <!-- Desktop Nav -->
                <nav class="hidden items-center gap-8 md:flex">
                    {
                        menuitems.map((item) => (
                            <a
                                href={item.href}
                                class="text-sm font-medium transition text-black/80 hover:text-black font-nunito"
                                data-close-menu="true"
                            >
                                {item.label}
                            </a>
                        ))
                    }
                </nav>

                <!-- Actions -->
                <div class="hidden md:flex items-center gap-3">
                    <Link href="/login"> Login </Link>
                </div>

                <!-- Mobile Menu Button -->

                <button
                    id="menuBtn"
                    class="md:hidden inline-flex h-10 w-10 items-center justify-center rounded-lg border transition border-black/10 bg-black/0 hover:bg-black/5"
                    aria-label="Open menu"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        data-lucide="menu"
                        class="lucide lucide-menu h-5 w-5"
                        ><path d="M4 5h16"></path><path d="M4 12h16"
                        ></path><path d="M4 19h16"></path></svg
                    >
                </button>
            </div>

            <!-- Mobile Menu -->
            <div
                id="mobileMenu"
                class="hidden border-t px-4 py-3 md:hidden border-black/10"
            >
                <nav class="grid gap-2">
                    {
                        menuitems.map((item) => (
                            <a
                                href={item.href}
                                class="rounded-lg px-3 py-2 text-sm font-medium transition text-black/80 hover:bg-black/5 hover:text-black font-nunito"
                                data-close-menu="true"
                            >
                                {item.label}
                            </a>
                        ))
                    }
                    <div class="mt-2 flex gap-2">
                        <a
                            href="#contact"
                            class="inline-flex flex-1 items-center justify-center gap-2 rounded-lg border px-3 py-2 text-sm font-medium transition border-black/10 bg-black/0 text-black/90 hover:bg-black/5 font-nunito"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                data-lucide="phone"
                                class="lucide lucide-phone h-4 w-4"
                                ><path
                                    d="M13.832 16.568a1 1 0 0 0 1.213-.303l.355-.465A2 2 0 0 1 17 15h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2A18 18 0 0 1 2 4a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-.8 1.6l-.468.351a1 1 0 0 0-.292 1.233 14 14 0 0 0 6.392 6.384"
                                ></path></svg
                            >
                            Contacto
                        </a>
                        <a
                            href="#visit"
                            class="inline-flex flex-1 items-center justify-center gap-2 rounded-lg px-3 py-2 text-sm font-semibold transition bg-black text-neutral-100 hover:bg-black/90 font-nunito"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                data-lucide="calendar"
                                class="lucide lucide-calendar h-4 w-4"
                                ><path d="M8 2v4"></path><path d="M16 2v4"
                                ></path><rect
                                    width="18"
                                    height="18"
                                    x="3"
                                    y="4"
                                    rx="2"></rect><path d="M3 10h18"
                                ></path></svg
                            >
                            Visita
                        </a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
